<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../scripts/style.css">
    <title>Wilton Plumbing</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info text-light">
        <a class="navbar-brand rounded bg-light px-2" href="../index.php">
            <img src="../images/logo.png" width="200" height="60" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="team.html">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="services.html">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container">
        <section>
            <div class="row mt-5">
                <div class="col-md-6 col-sm-12">
                    <img src="../images/about-fullsize-01.jpg" alt="..." class="img-fluid rounded">
                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="../images/about-fullsize-02.jpg" alt="..." class="img-fluid rounded">
                </div>
            </div>
        </section>
        <section class="bubble mt-5">
            <div class="row larger-text">
                <h1>About Us</h1>
                <p>Our professional plumbing company was started in 2015. We have always maintained the highest level of
                    quality
                    service, investing in our team so our clients can have the very best on site and on call at all
                    times.
                </p>

                <p>No job is too large for our team of experts who cater for all clients in the Cape Town area. Please
                    feel
                    free
                    to
                    contact us anytime and we’d be more than happy to help you solve everyday plumbing problems. We look
                    forward
                    to
                    hearing from you.</p>
            </div>
        </section>

        <section>
            <div class="row justify-content-center mt-5">
                <img src="../images/about-thumbnail-01.jpg" alt="..." class="img-thumbnail"
                    style="width:216px;height:287px;">
                <img src="../images/about-thumbnail-02.jpg" alt="..." class="img-thumbnail"
                    style="width:216px;height:287px;">
                <img src="../images/about-thumbnail-03.jpg" alt="..." class="img-thumbnail"
                    style="width:216px;height:287px;">
                <img src="../images/about-thumbnail-04.jpg" alt="..." class="img-thumbnail"
                    style="width:216px;height:287px;">

            </div>
            <div class="row justify-content-center">
                <img src="../images/about-thumbnail-05.jpg" alt="..." class="img-thumbnail"
                    style="width:216px;height:287px;">
                <img src="../images/about-thumbnail-06.jpg" alt="..." class="img-thumbnail"
                    style="width:216px;height:287px;">
                <img src="../images/about-thumbnail-07.jpg" alt="..." class="img-thumbnail"
                    style="width:216px;height:287px;">
                <img src="../images/about-thumbnail-08.jpg" alt="..." class="img-thumbnail"
                    style="width:216px;height:287px;">
            </div>
            <div class="row justify-content-center">
                <img src="../images/about-thumbnail-09.jpg" alt="..." class="img-thumbnail"
                    style="width:216px;height:287px;">
            </div>

        </section>
    </div>

    <footer class="footer">
        <div class="container">
            <hr>
            <p class="text-muted float-right">&copy;ecomap</p>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>