
body {
    /* font-family: 'Montserrat'; */
    /* font-family: 'Roboto'; */
}


.blog-featured-img {
    width: 100%;
    height: 480px;
}

.blog-thumbnail-img {
    width: 100%;
    height: 240px;
}


.navigation-bar
{
    background: #2dabdf;
}

h1, h2, h3, p
{
    color: #00539e;
}


.larger-text{
    font-size: 18px;
}

.bubble
{
    border: 1px solid #00539e;
    background: white;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

.transparent-bubble
{
    border: 1px solid #00539e;
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top:20px;
}

@media (min-width: 992px) 
{ 
    #contact {
        width: 60%;
    }

}





.rounded-button
{
    border-radius: 40px;
}





.img-container {
    display: initial;
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 


.portrait-container {
    position: relative;
    width: 122px;
    margin: auto;
}

.bottom-right {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.music {
    background: #FF4E50
}

.btn-danger {
    background: #FF4E50;
    color: white;
    border:none 
}







/* for the image grid ------------ */

.gallery {
    font-family: 'Roboto';
    font-size: 1.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

@media screen and (max-width: 800px) {
.column {
    flex: 50%;
    max-width: 50%;
}
}


@media screen and (max-width: 600px) {
.column {
    flex: 100%;
    max-width: 100%;
}
}

/* ------------ */

header {
    background: url(../images/homepage/homepage-banner.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 720px;
}

.center-title {
    position: relative;
    top: 175px;
}

.portrait-icon {
    border: 2px solid white;
}

/* Bootstrap override */

.nav-link {
    color:white!important;
}

footer li {
    line-height: 2rem;
}

.overlay-effect {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(259, 67, 95, 0.7);
    overflow:hidden;
}

.hovereffect {

    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;

  }

  .hovereffect-rectangle {

    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;

  }
  
  .hovereffect .overlay, .hovereffect-rectangle .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(75,75,75,0.7);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border-radius: .25rem!important;
  }
  
  .hovereffect:hover .overlay, .hovereffect-rectangle:hover .overlay {
    background-color: rgba(48, 152, 157, 0.4);
    cursor: pointer; 
  }
  
  .hovereffect img, .hovereffect-rectangle img {
    display: block;
    position: relative;
  }
  
  .hovereffect p, .hovereffect-rectangle p {
    font-weight: bold;
    color: #fff;
    text-align: center;
    position: relative;
    -webkit-transform: translateY(135px);
    -ms-transform: translateY(135px);
    transform: translateY(135px);
}
  
  
.hovereffect:hover p, .hovereffect-rectangle:hover p {
color: black;
font-weight: bold;
}
  
 

.navbar {
   
    font-size: 2rem;
}